<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Chat</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            color: red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        }
        .container {
            display: grid;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background: #000;
        }
        form{
            display: grid;
            gap: 15px;
        }
        input{
            width: 500px;
            height: 50px;
            text-align: center;
            border-radius: 15px;
            color: #000;
            font-size: 20px;
            outline: none;
            border: none;
        }
        button{
            height: 50px;
            border-radius: 15px;
            border: none;
            font-size: 25px;
            background: red;
            color: black;
            cursor: pointer;
        }
        button:hover{
            background: greenyellow;
            
        }
        button a:hover{
            color: #000;
        }
        button a{
            color: antiquewhite;
            text-decoration: none;
        }
        .current-images{
            display: grid;
            justify-content: center;
            align-items: center;
        }
        .current-images img{
            border: 2px dashed white;
            border-radius: 15px;

        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit Chat</h1>

        <form class="form-edit" method="post" action="/edit/<%= upchat._id %>" enctype="multipart/form-data">
          <input type="text" name="name" placeholder="Your name" value="<%= upchat.name %>" required>
          <input type="text" name="password" placeholder="Your Password" value="<%= upchat.password %>" required>
          <input type="text" name="address" placeholder="Address" value="<%= upchat.address %>" required>
          <input type="file" name="testImage"  accept="image/*">
          <button type="submit">Update</button>
        </form>
      <div class="current-images">
        <!-- Display the current image -->
        <h2>Current Image:</h2>
        <img src="/images/<%= upchat.images.data %>" alt="Current Image" style="max-width: 150px; height: auto;">
    </div>
        <button><a href="/">Back to Chats</a></button>

</div>
</body>
</html>
